.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #123456; /* Dark blue color */
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.upload-section {
  display: inline-block;
  text-align: left;
}

.file-input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input-label {
  display: inline-block;
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 8px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button, .signout-button {
  background-color: #008CBA; /* Blue */
  color: white;
  padding: 10px 24px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover, .signout-button:hover {
  background-color: #005f73;
}

